.contenedor{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    min-width: 700px;
    max-width: 700px;
    max-height: 228px;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 3px 11px 21px -3px rgba(0,0,0,0.42);
-moz-box-shadow: 3px 11px 21px -3px rgba(0,0,0,0.42);
box-shadow: 3px 11px 21px -3px rgba(0,0,0,0.42);
}
.container-img img{
    border-radius: 2%;
    margin-right: 5px;
    margin-bottom: 0px;
    height: 227px;
}
.itemDetalle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
}

.titulo{
    text-align: left;
    margin-top: 0px;
    
}
.titulo1{
    text-align: left;
    margin: 0px;
}
.agregar{
    margin-bottom: 0px;
    min-width: 300px;
}

