.container_item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container_item__card{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    min-width: 700px;
    max-width: 700px;
    max-height: 228px;
    font-family: 'Roboto', sans-serif;
    -webkit-box-shadow: 3px 11px 21px -3px rgba(0,0,0,0.42);
-moz-box-shadow: 3px 11px 21px -3px rgba(0,0,0,0.42);
box-shadow: 3px 11px 21px -3px rgba(0,0,0,0.42);
}
.container_item__card__img img{
    border-radius: 2%;
    margin-right: 5px;
    margin-bottom: 0px;
    height: 227px;
}


.container_item__card__body{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
}

.container_item__card__body__title{
    text-align: left;
    margin-top: 0px;
    
}
.container_item__card__body__subtitle{
    text-align: left;
    margin: 0px;
}
.container_item__card__body__add{
    margin-bottom: 0px;
    min-width: 300px;
}

@media only screen and (max-width: 650px){
    .container_item__card{
        flex-direction: column;
        min-width: 90%;
        max-width: 100%;
        max-height: 100%;
    }
    .container_item__card__img img{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 5px;
    }
    .container_item__card__body{
        padding: 5px;
    }
}

