.contenedorNav{
    position: fixed;
    padding: 0px;
    background-color: #ffffff;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.barraNav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 70px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    
}

.content-enlaces{
    display: flex;
    font-size: 20px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    letter-spacing: 3px;
    margin-left: 10px;  
}
.content-enlaces li{
    margin-right: 25px;
    list-style: none;
    transition: all 0.5s;
}
.content-enlaces li:hover{
    transform: scale(1.1);
}
.enlace{
    text-decoration: none;
    color: #000000;
    transition: all 0.4s;
}
.enlace:hover{
    color: #0b0c0d;
}
p{
    right: 25px;
    font-size: 18px;
    color: #000000;
    padding: 5px;
}
.cart{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
