.container_footer__legal{
    display: flex;
    display: inline-block;
    background-color: #444341;
    height: 150px;
    width: 100%;
    padding: 15px;
    bottom: 0px;
}
.container_footer__legal ul{
    color: rgb(240, 248, 255);
    gap: 15px; 
    display: flex;
    list-style: none;
    justify-content: center;
}
.container_footer__legal li{
    padding-right: 10px;
    border-right: 1px solid #ffffff;
    cursor: pointer;
}
#container_footer__legal__6{
    border-right: none;
}
.container_footer__legal__networks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.container_footer__legal__networks a{
    font-size: 25px;
    color: #ffffff;
}

@media only screen and (max-width: 650px){
    .container_footer__legal{
        min-height: 100vh;
    }
    .container_footer__legal ul{
        display: block;
        text-align: start;
        padding: 5px;
        font-size: auto;
    }
    .container_footer__legal li{
        padding: 10px;
        border-right: none;
    }
}