.container-produc{
    display: flex;
    padding: 0px;
    margin-bottom: 12px;
    min-width: 550px;
    border: solid 1px black;
}
.bodyContent{
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: 100%;
}
.icon1{
    font-size: 30px;
    cursor: pointer;
    color: #000000;
}
.imagen img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.datos{
    display: flex;
    flex-direction: column;
    width: 220px;
}
.datos p{
    font-size: 25px;
    margin-bottom: 80px;
}
.datos h6, span{
    padding: 5px;
}
.iconContent{
    padding-top: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}
.precio{
    margin-left: 80px;
    padding-top: 10px;
}

