.container_list{
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}
.container_list:hover{
    transform: scale(1.1);
}
.img{
    object-fit: cover;
    width: 286px;
    height: 280px;
}
@media only screen and (max-width: 650px){
    .container_list{
        min-width: 100%;
    }
    .container_list:hover{
        transform: scale(0.9);
    }

    .img{
        width: auto;
        height: auto;
        object-fit: cover;
    }
}

