.container_shop{ 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-decoration: none;
    margin: 0;
    min-width: 100%;
    min-height: 100vh; 
    padding: 0;
} 

@media only screen and (max-width: 650px){
    .container_shop{
        min-width: 100%;
        min-height: 100vh;
    }
}