.content-shop{ 
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100vh auto; 
} 
.CartWidget{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    z-index: 8;
}