html, body {
  margin: 0px;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  height: 100vh auto;
  width: 100%;
  padding: 0px;
}

